<!DOCTYPE HTML>
<html lang="en-GB" data-countrycode="GB" data-locale-code="UK" data-biz-type="B2C" data-review-type="BV2" data-obs="Y">
<head>
    <meta charset="UTF-8"/>
    <title>Sustainably - Consumer &amp; Home Electronics from LG</title>
    <meta name="description" content="Welcome to LG UK. We deliver consumer electronics that allow you to embrace life and prepare you for its greatest moments. Learn about our electronics."/>
    <meta name="template" content="home-page"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="canonical" href="https://www.lg.com/uk/"/>
    <link rel="stylesheet" href="https://publish-p86205-e863024.adobeaemcloud.com/etc.clientlibs/lge/clientlibs/clientlib-base.lc-70267407c54bfd3d524dbb8e5bf56862-lc.min.css" type="text/css">
    <link rel="stylesheet" href="https://publish-p86205-e863024.adobeaemcloud.com/etc.clientlibs/lge/clientlibs/clientlib-dependencies.lc-d41d8cd98f00b204e9800998ecf8427e-lc.min.css" type="text/css">
    <link rel="stylesheet" href="https://publish-p86205-e863024.adobeaemcloud.com/etc.clientlibs/lge/clientlibs/clientlib-site.lc-82f6622c2ebf5806b333c076aff87384-lc.min.css" type="text/css">
    <link rel="stylesheet" href="../../../fontface.css"> <!--임시 폰트 설정-->
    <link rel="stylesheet" href="../../../layout.css">
    <!--<script src="https://assets.adobedtm.com/322f63b58a72/0cfd3b7df536/launch-baef262771e5-development.min.js" async></script>
    <script src="https://publish-p86205-e863024.adobeaemcloud.com/etc.clientlibs/lge/clientlibs/clientlib-dependencies.lc-d41d8cd98f00b204e9800998ecf8427e-lc.min.js"></script>-->
    <script src="../../../layout.js"></script>
</head>

<body>
<header id="header" class="c-header">
    <h1 class="c-header__tit"><img src="../../mocks/layout/Logo.svg" alt="LG" loading="lazy" class="c-header__tit__logo" /></h1>
    <nav class="c-header__gnb">
        <ul class="c-header__gnb__list">
            <li class="c-header__gnb__list__item"><a href="#" class="c-header__gnb__list__item__anchor c-header__gnb__list__item__anchor--active">Living Sustainably</a></li>
            <li class="c-header__gnb__list__item"><a href="#" class="c-header__gnb__list__item__anchor">Climate Action</a></li>
            <li class="c-header__gnb__list__item"><a href="#" class="c-header__gnb__list__item__anchor">Circular Economy</a></li>
            <li class="c-header__gnb__list__item"><a href="#" class="c-header__gnb__list__item__anchor">Human Rights</a></li>
        </ul>
    </nav>
    <button type="button" class="c-header__btn-gnb">
        <span class="c-header__btn-gnb__bar"></span>
        <span class="c-header__btn-gnb__bar"></span>
    </button>
</header>
<div id="container" class="c-container" style="height:200vh">
    <main id="contents" class="c-contents">
        <!-- [code component area start] -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>
        <style>
            

        </style>
        <!-- html code -->
        <div class="sustainably-container">
            <div class="landing-visual">
                <div class="landing-visual__bg">

                </div>
                <div class="landing-visual__txt">
                    <img src="" alt="Life's Good." class="landing-visual__txt__img" />
                </div>
            </div>
            <div class="landing-introduce__wrap">
                <div class="landing-introduce">
                    <p class="landing-introduce__summary">
                        <span class="landing-introduce__summary__txt">Our exceptional customer value and innovation bring a smile to many.</span><br />
                        <span class="landing-introduce__summary__txt">We're committed to making the smile last by prioritizing sustainability,</span><br />
                        <span class="landing-introduce__summary__txt">to create a better life for people, and a better future for the planet.</span>
                    </p>
                </div>
                <div class="landing-introduce">
                    <p class="landing-introduce__detail">
                        <span class="landing-introduce__detail__txt">Better Life for All</span>
                    </p>
                </div>
            </div>
            <div class="landing-core-value__wrap">
                <div class="landing-core-value">
                    <p class="landing-core-value__summary">We're committed to making a better impact.</p>
                </div>
                <div class="landing-core-value">
                    <p class="landing-core-value__load">
                        <img src="" alt="" class="landing-core-value__load__img" />
                    </p>
                </div>
                <div class="landing-core-value">
                    <figure class="landing-core-value__thumbnail">
                        <div class="landing-core-value__thumbnail__photo">
                            <img src="" alt="" class="landing-core-value__thumbnail__photo__img" />
                        </div>
                        <figcaption class="landing-core-value__thumbnail__figcaption">
                            <strong class="landing-core-value__thumbnail__figcaption__strong">Living Sustainably</strong>
                            <small class="landing-core-value__thumbnail__figcaption__small">For a sustainable lifestyle</small>
                        </figcaption>
                    </figure>
                </div>
                <div class="landing-core-value">
                    <figure class="landing-core-value__thumbnail">
                        <div class="landing-core-value__thumbnail__photo">
                            <img src="" alt="" class="landing-core-value__thumbnail__photo__img" />
                        </div>
                        <figcaption class="landing-core-value__thumbnail__figcaption">
                            <strong class="landing-core-value__thumbnail__figcaption__strong">Climate Action</strong>
                            <small class="landing-core-value__thumbnail__figcaption__small">For a long-lasting planet</small>
                        </figcaption>
                    </figure>
                </div>
                <div class="landing-core-value">
                    <figure class="landing-core-value__thumbnail">
                        <div class="landing-core-value__thumbnail__photo">
                            <img src="" alt="" class="landing-core-value__thumbnail__photo__img" />
                        </div>
                        <figcaption class="landing-core-value__thumbnail__figcaption">
                            <strong class="landing-core-value__thumbnail__figcaption__strong">Circular Economy</strong>
                            <small class="landing-core-value__thumbnail__figcaption__small">For saving resources</small>
                        </figcaption>
                    </figure>
                </div>
                <div class="landing-core-value">
                    <figure class="landing-core-value__thumbnail">
                        <div class="landing-core-value__thumbnail__photo">
                            <img src="" alt="" class="landing-core-value__thumbnail__photo__img" />
                        </div>
                        <figcaption class="landing-core-value__thumbnail__figcaption">
                            <strong class="landing-core-value__thumbnail__figcaption__strong">Human Rights</strong>
                            <small class="landing-core-value__thumbnail__figcaption__small">For a diverse, equal society</small>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
        <!-- //html code -->
        <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.3.1/gsap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.3.1/ScrollTrigger.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.3.1/ScrollToPlugin.min.js"></script>
        <script>
            
        </script>
        <!-- [//code component area end] -->
    </main>
</div>

<div id="footer__wrap" class="c-footer__wrap">
    <footer id="footer" class="c-footer">

    </footer>
</div>
</body>

</html>