<!DOCTYPE HTML>
<html lang="en-GB" data-countrycode="GB" data-locale-code="UK" data-biz-type="B2C" data-review-type="BV2" data-obs="Y">
<head>
    <meta charset="UTF-8"/>
    <title>Sustainably - Consumer &amp; Home Electronics from LG</title>
    <meta name="description" content="Welcome to LG UK. We deliver consumer electronics that allow you to embrace life and prepare you for its greatest moments. Learn about our electronics."/>
    <meta name="template" content="home-page"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="canonical" href="https://www.lg.com/uk/"/>
    <link rel="stylesheet" href="../../../lc.min.css" type="text/css">
    <link rel="stylesheet" href="../../../fontface.css"> <!--임시 폰트 설정-->
    <link rel="stylesheet" href="../../../layout.css">
    <script src="../../../launch-development.min.js"></script>
    <script src="../../../layout.js"></script>
</head>

<body>
<header id="header" class="c-header">
    <h1 class="c-header__tit"><a href="../ST0001/landing.html"><img src="../../mocks/layout/Logo.svg" alt="LG" loading="lazy" class="c-header__tit__logo" /></a></h1>
    <nav class="c-header__gnb">
        <ul class="c-header__gnb__list">
            <li class="c-header__gnb__list__item"><a href="../ST0002/living_sustainably.html" class="c-header__gnb__list__item__anchor">Living Sustainably</a></li>
            <li class="c-header__gnb__list__item"><a href="../ST0003/climate_action.html" class="c-header__gnb__list__item__anchor">Climate Action</a></li>
            <li class="c-header__gnb__list__item"><a href="../ST0004/circular_economy.html" class="c-header__gnb__list__item__anchor">Circular Economy</a></li>
            <li class="c-header__gnb__list__item"><a href="../ST0005/human_rights.html" class="c-header__gnb__list__item__anchor">Human Rights</a></li>
        </ul>
    </nav>
    <button type="button" class="c-header__btn-gnb">
        <span class="c-header__btn-gnb__bar"></span>
        <span class="c-header__btn-gnb__bar"></span>
    </button>
</header>
<div id="container" class="c-container">
    <main id="contents" class="c-contents">
        <!-- [code component area start] -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>
        <style>
            /* Common */
            body {
                overflow-x: hidden;
            }
            .sustainably-container,
            .sustainably-container * {
                color: #262626;
            }
            .sustainably-container button {
                cursor: pointer;
                padding: 0px
            }


            /* What's Next */
            .whats-next {
                position: relative;
                overflow: hidden;
                padding: 4.6875vw 6.25vw 3.8021vw;
                background-color: #E6E1D6;
            }
            .whats-next__tit {
                font-size: 2.2917vw;
                line-height: 2.7083vw;
                font-weight: 300;
            }
            .whats-next__tit__strong {
                font-weight: 400;
            }
            .whats-next__menu {
                margin-top: 3.6458vw;
                overflow: visible;
            }
            .whats-next__menu__slide {
                width: 24.7396vw;
                margin-right: 1.0417vw;
            }
            .whats-next__menu__slide__anchor {
                display: block;
                width: 100%;
                height: 24.7396vw;
                padding: 4.1667vw 0px 3.0729vw;
                box-sizing: border-box;
                background: #F0ECE4;
                border-radius: 1.0417vw;
            }
            .whats-next__menu__slide__anchor__photo {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 14.2708vw;
            }
            .whats-next__menu__slide__anchor__photo__img {
                max-width: 100%;
                max-height: 100%;
                width: auto;
                height: auto;
            }
            .whats-next__menu__slide__anchor__txt {
                padding: 2.9167vw 1.6667vw 0px;
                line-height: 1.7708vw;
                font-size: 1.4583vw;
            }
            .whats-next__menu__btn-set {
                position: absolute;
                top: -5.8333vw;
                right: 0px;
                display: flex;
                gap: 0px 0.4167vw;
                line-height: 1;
            }
            .whats-next__menu__btn-set__btn {
                width: 2.5vw;
                height: 2.5vw;
                background-repeat: no-repeat;
                background-position: center center;
                background-size: 100% 100%;
                cursor: pointer;
            }
            .whats-next__menu__btn-set__btn__prev {
                background-image: url(../../mocks/ST0001/btn-wn-prev.svg);
            }
            .whats-next__menu__btn-set__btn__next {
                background-image: url(../../mocks/ST0001/btn-wn-next.svg);
            }
            .whats-next__menu__pagination {
                position: relative;
                width: 100%;
                margin-top: 3.3333vw;
                height: 2px;
                background-color: rgba(0,0,0,0.2);
            }
            .whats-next__menu__pagination .swiper-pagination-progressbar-fill {
                background-color: rgba(0,0,0,1);
            }
        </style>
        <!-- html code -->
        <div class="sustainably-container">
            <div class="reports">
                <h2 class="reports__tit">Reports</h2>
                <p class="reports__cont1">
                    We accurately measure performance and share it <br />
                    transparently as a must for sustainability.
                </p>
                <div class="reports__visual"></div>
                <p class="reports__cont2">
                    Visit our homepage for our sustainability management report, <br />
                    which includes our ESG strategy and performance, and our ESG <br />
                    policies and commitment statement.
                </p>
                <div class="reports__data">
                    <h3 class="reports__data__tit">Sustainability Reports</h3>
                    <p class="reports__data__txt">
                        In 2022, we published our 16th sustainability management report, containing our ESG Story Book <br />
                        and Fact Book. We will keep sharing our activity and performance reports transparently.
                    </p>
                    <div class="reports__data__list__wrap">
                        <table class="reports__data__list">
                            <tbody>
                                <tr>
                                    <th scope="row" class="reports__data__list__subject">
                                        <dl class="reports__data__list__subject__desc">
                                            <dt class="reports__data__subject__item__desc__tit">2021-2022 ESG Story Book</dt>
                                            <dd class="reports__data__subject__item__desc__cont">We share our ESG goals and performance as a sincere story.</dd>
                                        </dl>
                                    </th>
                                    <td>
                                        <div class="reports__data__list__download-type">
                                            <label class="reports__data__list__download-type__label"></label>
                                            <select name="" id="" class="reports__data__list__download-type__select">
                                                <option value="">English</option>
                                                <option value="">Korean</option>
                                            </select>
                                        </div>
                                        <a href="#" target="_blank" title="open new window" class="reports__data__btn-download">file download</a>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row" class="reports__data__list__subject">
                                        <dl class="reports__data__list__subject__desc">
                                            <dt class="reports__data__subject__item__desc__tit">2021-2022 ESaG Fact Book</dt>
                                            <dd class="reports__data__subject__item__desc__cont">We wrote about our performance and our activities.</dd>
                                        </dl>
                                    </th>
                                    <td>
                                        <div class="reports__data__list__download-type">
                                            <label class="reports__data__list__download-type__label"></label>
                                            <select name="" id="" class="reports__data__list__download-type__select">
                                                <option value="">English</option>
                                                <option value="">Korean</option>
                                            </select>
                                        </div>
                                        <a href="#" target="_blank" title="open new window" class="reports__data__btn-download">file download</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            
            <div class="whats-next">
                <h3 class="whats-next__tit">
                    <strong class="whats-next__tit__strong">What’s next?</strong><br />
                    Explore Sustainability
                </h3>
                <div class="swiper whats-next__menu">
                    <div class="swiper-wrapper whats-next__menu__slide-wrap">
                        <div class="swiper-slide whats-next__menu__slide">
                            <a href="#" class="whats-next__menu__slide__anchor">
                                <div class="whats-next__menu__slide__anchor__photo">
                                    <img src="../../mocks/ST0001/photo-whats-next1.png" alt="" class="whats-next__menu__slide__anchor__photo__img">
                                </div>
                                <p class="whats-next__menu__slide__anchor__txt">Living Sustainably</p>
                            </a>
                        </div>
                        <div class="swiper-slide whats-next__menu__slide">
                            <a href="#" class="whats-next__menu__slide__anchor">
                                <div class="whats-next__menu__slide__anchor__photo">
                                    <img src="../../mocks/ST0001/photo-whats-next2.png" alt="" class="whats-next__menu__slide__anchor__photo__img">
                                </div>
                                <p class="whats-next__menu__slide__anchor__txt">Climate Action</p>
                            </a>
                        </div>
                        <div class="swiper-slide whats-next__menu__slide">
                            <a href="#" class="whats-next__menu__slide__anchor">
                                <div class="whats-next__menu__slide__anchor__photo">
                                    <img src="../../mocks/ST0001/photo-whats-next3.png" alt="" class="whats-next__menu__slide__anchor__photo__img">
                                </div>
                                <p class="whats-next__menu__slide__anchor__txt">Circular Economy</p>
                            </a>
                        </div>
                        <div class="swiper-slide whats-next__menu__slide">
                            <a href="#" class="whats-next__menu__slide__anchor">
                                <div class="whats-next__menu__slide__anchor__photo">
                                    <img src="../../mocks/ST0001/photo-whats-next4.png" alt="" class="whats-next__menu__slide__anchor__photo__img">
                                </div>
                                <p class="whats-next__menu__slide__anchor__txt">Human Rights</p>
                            </a>
                        </div>
                    </div>
                    <div class="whats-next__menu__btn-set">
                        <div class="whats-next__menu__btn-set__btn whats-next__menu__btn-set__btn__prev"></div>
                        <div class="whats-next__menu__btn-set__btn whats-next__menu__btn-set__btn__next"></div>
                    </div>
                    <div class="swiper-pagination whats-next__menu__pagination"></div>
                </div>
            </div>
        </div>
        <!-- //html code -->
        <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
        <script src="../../../gsap.min.js"></script>
        <script src="../../../ScrollTrigger.min.js"></script>
        <script src="../../../ScrollToPlugin.min.js"></script>
        <script>
            var humanRights = humanRights || {};
                
            humanRights = {
                visualScrollDown: function() {
                    let visual = document.querySelector(".human-rights-visual");
                    let vScrolldownWrap = visual.querySelector(".human-rights-visual__scrolldown");
                    let btnScrolldown = vScrolldownWrap.querySelector(".human-rights-visual__scrolldown__btn");

                    btnScrolldown.onclick = function() {
                        TweenMax.to(window, 0.3, {
                            "scrollTo": window.innerHeight
                        },{
                            ease: Power1.easeOut,
                            autoKill: true,
                            overwrite: 5
                        })
                    }
                },
                socialImpact: function() {
                    let socialImpact = document.querySelector(".social-impact")
                    let siPhotoListInner = socialImpact.querySelectorAll(".social-impact__photo-list__inner")
                    let sipl1Wrap = socialImpact.querySelector(".social-impact__photo-list1__wrap")
                    let sipl2Wrap = socialImpact.querySelector(".social-impact__photo-list2__wrap")
                    let sipl1Inner = sipl1Wrap.querySelector(".social-impact__photo-list1__inner")
                    let sipl2Inner = sipl2Wrap.querySelector(".social-impact__photo-list2__inner")
                    
                    siPhotoListInner.forEach(function(splw) {
                        splwList = splw.querySelector(".social-impact__photo-list")
                        leftCloneNplList = splwList.cloneNode(true)
                        rightCloneNplList = splwList.cloneNode(true)
                        splw.insertBefore(leftCloneNplList, splw.firstChild)
                        splw.appendChild(rightCloneNplList)
                    })

                    setInterval(function() {
                        let spl1First = sipl1Inner.querySelector(".social-impact__photo-list1").cloneNode(true)
                        
                        let spl2Last = sipl2Inner.querySelector(".social-impact__photo-list2").cloneNode(true)

                        sipl1Inner.appendChild(spl1First)
                        sipl2Inner.insertBefore(spl2Last, sipl2Inner.firstChild)
                    },50000)

                    setInterval(function() {
                        gsap.to(sipl1Inner, 100, {
                            "left":"-="+window.innerWidth
                        });
                        gsap.to(sipl2Inner, 100, {
                            "right":"-="+window.innerWidth
                        });
                    },5000)
                },
                goalsEfforts: function() {
                    let goalsEfforts = document.querySelectorAll(".goals-efforts");

                    goalsEfforts.forEach(function(ge,i) {
                        initGoalsEffortsTabNavi(i)
                    })

                    function initGoalsEffortsTabNavi(idx) {
                        geTabNavi = goalsEfforts[idx].querySelector(".goals-efforts__tab-navi");
                        geTabNaviList = geTabNavi.querySelector(".goals-efforts__tab-navi__list");
                        gnItem = geTabNaviList.querySelectorAll(".goals-efforts__tab-navi__list__item");
                        gnTabContWrap = document.querySelectorAll(".goals-efforts__tab-cont__wrap");
                        gtcwOfsTop = new Array();
                        gtcwIsView = new Array();

                        gnItem.forEach(function(gi,a) {
                            gi.querySelector("a").onclick = function() {
                                if(gi.className.indexOf("--active") < 0) {
                                    //console.log(gi.parentNode.children)
                                    for(var b=0; b < gi.parentNode.children.length; b++) {
                                        gi.parentNode.children[b].querySelector("a").classList.remove("goals-efforts__tab-navi__list__item__a--active")
                                        
                                    }
                                    gi.querySelector("a").classList.add("goals-efforts__tab-navi__list__item__a--active")
                                    initGoalsEffortsTabView(gnTabContWrap[idx],a)
                                }
                            }
                        })

                        window.onload = window.onresize = window.onorientationchange = function() {
                            gnTabContWrap.forEach(function(gtcw,c) {
                                gtcwOfsTop[c] = document.querySelectorAll(".goals-efforts__intro")[c].offsetTop;
                                gtcwIsView[c] = false
                            })
                        }

                        window.addEventListener("scroll", (event) => {
                            gnTabContWrap.forEach(function(gtcw,d) {
                                if(document.documentElement.scrollTop >= gtcwOfsTop[d] && gtcwIsView[d] == false) {
                                    gnTabContWrap[d].querySelector(".goals-efforts__tab-cont").classList.add("goals-efforts__tab-cont--active")
                                    gtcwIsView[d] = true
                                }
                            })
                        });
                    }

                    function initGoalsEffortsTabView(cWrap,idx) {
                        if(cWrap.querySelectorAll(".goals-efforts__tab-cont")[idx].className.indexOf("--active") < 0) {
                            for(var c=0; c < cWrap.children.length; c++) {
                                cWrap.children[c].classList.remove("goals-efforts__tab-cont--active")
                            }
                            cWrap.children[idx].classList.add("goals-efforts__tab-cont--active")
                        }

                        
                    }
                },
                summary: function() {
                    let summary = document.querySelector(".summary");
                    let msOfsTop = summary.offsetTop;
                    let summaryVisual = summary.querySelector(".summary__visual");
                    let msvOfsTop = summaryVisual.offsetTop;
                    let summaryCont = summary.querySelector(".summary__cont");
                    let measContTxt = summaryCont.querySelectorAll(".summary__cont__txt");
                    let mctOfs = new Array();
                    let mctViewIs = new Array();
    
                    measContTxt.forEach(function(mct,a) {
                        mctOfs[a] = mct.offsetTop;
                        mctViewIs[a] = false;
                    })
    
                    gsap.timeline({
                        scrollTrigger: {
                            trigger: ".summary",
                            start: "top top",
                            end: "bottom bottom",
                            onEnter: function() {
                                //console.log("enter")
                                summaryVisual.classList.add("summary__visual--fixed")
                                summaryVisual.classList.remove("summary__visual--bottom-end")
                                summaryCont.classList.add("summary__cont--fixed")
                            },
                            onLeaveBack: function() {
                                //console.log("leaveBack")
                                summaryVisual.classList.remove("summary__visual--fixed")
                                summaryCont.classList.remove("summary__cont--fixed")
                            },
                            onLeave: function() {
                                //console.log("leave")
                                summaryVisual.classList.remove("summary__visual--fixed")
                                summaryVisual.classList.add("summary__visual--bottom-end")
                                summaryCont.classList.remove("summary__cont--fixed")
                            },
                            onEnterBack: function() {
                                //console.log("enterBack")
                                summaryVisual.classList.add("summary__visual--fixed")
                                summaryVisual.classList.remove("summary__visual--bottom-end")
                                summaryCont.classList.add("summary__cont--fixed")
                            },
                            onUpdate: initMeanContTxt
                        }
                    })
    
                    function initMeanContTxt() {
                        //console.log(scrollY+" / "+summary.offsetTop+" / "+mctOfs)
                        measContTxt.forEach(function(mct,b) {
                            if(scrollY >= msOfsTop + (msvOfsTop*2) + mctOfs[b] - (window.innerHeight/2) && scrollY <= msOfsTop + (msvOfsTop*2) + mctOfs[b] && mctViewIs[b] == false) {
                                mct.classList.add("summary__cont__txt--active")
                                mctViewIs[b] = true
                            } else if(scrollY < msOfsTop + (msvOfsTop*2) + mctOfs[b] - (window.innerHeight/2) && mctViewIs[b] == true || scrollY > msOfsTop + (msvOfsTop*2) + mctOfs[b] && mctViewIs[b] == true) {
                                mct.classList.remove("summary__cont__txt--active")
                                mctViewIs[b] = false
                            }
                        })
    
                    }
                },
                whatsNext: function() {
                    var swiper = new Swiper(".whats-next__menu", {
                        slidesPerView: "auto",
                        pagination: {
                            el: ".whats-next__menu__pagination",
                            type: "progressbar",
                        },
                        navigation: {
                            nextEl: ".whats-next__menu__btn-set__btn__next",
                            prevEl: ".whats-next__menu__btn-set__btn__prev",
                        },
                    });
                }
            }
            humanRights.visualScrollDown();
            humanRights.socialImpact();
            humanRights.goalsEfforts();
            humanRights.summary();
            humanRights.whatsNext();

            window.addEventListener("resize", ScrollTrigger.refresh);
        </script>
        <!-- [//code component area end] -->
    </main>
</div>

<div id="footer__wrap" class="c-footer__wrap">
    <footer id="footer" class="c-footer">

    </footer>
</div>
</body>

</html>