/* Reset */
ul,ol {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

/* Common Header */
.c-header__wrap {
    position: fixed;
    z-index: 89;
    top: 40px;
    left: 50%;
    width: calc(100% - 80px);
    max-width: 1680px;
    transform: translate(-50%,0px);
    transition: 0.3s ease transform;
}
.c-header {
    position: relative;
    display: flex;
}
.c-header__tit {
    position: absolute;
    z-index: 2;
    top: 19px;
    left: 30px;
}
.c-header__tit__logo {
    width: 63px;
    height: 27px;
    object-fit: cover;
}

/* Common Header - Gnb */
.c-header__gnb {
    position: relative;
    z-index: 1;
    padding: 25px 31px 20px 119px;
    border-radius: 400px;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
}
.c-header__gnb__list {
    display: flex;
    gap: 0px 31px;
    justify-content: space-between;
}
.c-header__gnb__list__item {
    line-height: 0;
}
.c-header__gnb__list__item__anchor {
    position: relative;
    display: block;
    padding-bottom: 7px;
    line-height: 1;
    color: #E6E1D6;
    font-size: 15px;
}
.c-header__gnb__list__item__anchor:hover,
.c-header__gnb__list__item__anchor:focus {
    text-decoration: none;
}
.c-header__gnb__list__item__anchor--active {
    font-weight: 600;
    color: white;
}
.c-header__gnb__list__item__anchor:after {
    position: absolute;
    bottom: 0px;
    left: 0px;
    content: '';
    display: block;
    width: 0%;
    height: 1px;
    background-color: #FD312E;
    transition: 0.3s ease width;
}
.c-header__gnb__list__item__anchor:hover:after,
.c-header__gnb__list__item__anchor--active:after {
    width: 100%;
}
.c-header__btn-gnb {
    display: none;
}

/* Common Header - Location */
.c-header__location {
    padding: 19px 31px 20px 30px;
    margin-left: 10px;
    border-radius: 400px;
    font-weight: 600;
    font-size: 15px;
    line-height: 28px;
    color: white;
    white-space: nowrap;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
}

/* Common Container */
.c-container {
    min-height: 100vh;
}

/* Common Footer */
.c-footer__wrap {
    display: grid;
    height: 600px;
    grid-template-rows: 535px 65px;
    background-color: black;
}


/* Mobile */
@media (max-width: 768px) {
    /* Common Header */
    .c-header__wrap {
        top: 24px;
        width: calc(100% - 40px);
    }
    .c-header {
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        padding: 0px;
        min-height: 66px;
        box-sizing: border-box;
        border-radius: 0px;
        background-color: transparent;
        backdrop-filter: blur(0px);
        -webkit-backdrop-filter: blur(0px);
    }
    .c-header__tit {
        top: 0px;
        left: calc(50% - 80px);
        width: 160px;
        height: auto;
        padding: 23px 32px;
        margin: 0px auto;
        box-sizing: border-box;
        border-radius: 400px;
        background: rgba(0, 0, 0, 0.7);
        backdrop-filter: blur(6px);
        -webkit-backdrop-filter: blur(6px);
        line-height: 0;
    }
    .c-header__tit__logo {
        width: auto;
        height: 20px;
    }

    /* Common Header - Gnb */
    .c-header__gnb {
        display: none;
        width: 100%;
        height: calc(100vh - 142px);
        margin-top: 90px;
        padding: 24px 20px;
        box-sizing: border-box;
        border-radius: 20px;
        background-color: rgba(0, 0, 0, 0.7);
        backdrop-filter: blur(27px);
        -webkit-backdrop-filter: blur(27px);
        transform: translateY(100vh);
        transition: 0.3s ease transform;
    }
    .c-header__gnb__list {
        display: block;
    }
    .c-header__gnb__list__item + .c-header__gnb__list__item {
        margin-top: 16px;
    }
    .c-header__gnb__list__item__anchor {
        padding: 0px 40px 0px 0px;
        font-size: 22px;
        line-height: 27px;
        padding-right: 40px;
    }
    .c-header__gnb__list__item__anchor:after {
        display: block;
        left: auto;
        bottom: auto;
        right: 0px;
        top: 7px;
        width: 7px;
        height: 14px;
        background: transparent url(src/mocks/layout/bullet_gnb_m.svg) no-repeat right center;
    }
    .c-header__living-sustainably {
        display: none;
    }
    .c-header__btn-gnb {
        display: block;
        position: absolute;
        z-index: 3;
        top: 24px;
        right: calc(50% - 48px);
        width: 18px;
        height: 18px;
        padding: 0px;
        border: 0px;
        background-color: transparent;
    }
    .c-header__btn-gnb__bar {
        position: absolute;
        left: 0px;
        width: 100%;
        height: 1px;
        background-color: white;
        transform: rotate(0);
        transition: 0.3s ease all;
    }
    .c-header__btn-gnb__bar:first-child {
        top: 6px;
    }
    .c-header__btn-gnb__bar:last-child {
        top: 11px;
    }
    .c-header__btn-gnb__bar--close:first-child {
        transform: rotate(-45deg);
        top: calc(50% - 1px);
    }
    .c-header__btn-gnb__bar--close:last-child {
        transform: rotate(45deg);
        top: calc(50% - 1px);
    }

    /* Common Header - Location */
    .c-header__location {
        display: none;
    }
}