.landing__container {
    position: relative;
    height: 100vh;
    overflow: hidden;
}
.landing__visual {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
}
.landing__bg-items {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}
.landing__bg-items--active {
    display: block;
}

.landing__bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 75px 40px 60px;
    box-sizing: border-box;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
}
.landing__text {
    color: #fff;
    font-size: 44px;
    line-height: 1.2;
    font-weight: 100;
}
.landing__bold {
    font-weight: 400;
}
.move-to__box {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 66px;
    background-color: #000000b3;
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    border-radius: 400px;
    margin-top: 40px;
    box-sizing: border-box;
    padding: 0 16px 0 24px;
    transition: background-color .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.move-to__box:hover {
    background-color: #000;
}
.move-to__text {
    color: #fff;
    font-size: 14px;
    
}
.move-to__btn {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #cbc8c280;
    margin-left: 14px;
    background: no-repeat url(../img/icon-arrow-right-wt.svg);
    background-position: calc(50% + 1px) center;

}

@media (max-width: 1720px) { }

@media (max-width: 1279px) {}

@media (max-width: 768px) {
    .landing__bottom {
        padding: 13px 20px 35px;
        text-align: center;
    }
    .landing__text {
        font-size: 28px;
        text-align: center;
    }
    .move-to__box {
        margin-top: 37px;
    }
}