/*공통*/
#visual-design-system.visual__top {
    background-image: url(../img/elements/typography/brand-elements-typography-d.png);
}
/*contents ------*/
.percent-view {
    border-radius: 1.56vw;
    position: relative;
    padding-bottom: 49.4%;
    overflow: hidden;
}
.percent-view .percent-view__img,
.percent-view img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*Bringing it to life*/
.bring-it-to-life {
    position: relative;
}
.index-text {
    position: absolute;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    left: 40px;
    top: 40px;
    z-index: 2;
    height: 50px;
    padding: 0 26px;
    font-size: 18px;
    color: #fff;
}
.index-text::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    border-radius: 70px;
    border-radius: 70px;
    backdrop-filter: blur(27px);
    -webkit-backdrop-filter: blur(27px);
    background-color: #00000080;
    z-index: -1;
}

.bring-it-to-life__slide {
    overflow: hidden;
    border-radius: 1.56vw;
}

.bring-it-to-life__slide__controller {
    position: absolute;
    z-index: 2;
    right: 40px;
    bottom: 40px;
    display: flex;
    gap: 6px;
}
.bring-it-to-life__slide__controller > button {
    display: block;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    border: 1px solid #cbc8c24d;
    -webkit-backdrop-filter: blur(27px);
    background: no-repeat center url(../img/elements/typography/ico_arrow_wt.svg);
    background-size: 24px auto;
    background-color: #00000099;
    backdrop-filter: blur(27px);
}
.bring-it-to-life__slide__controller .prev-btn {
    transform: rotate(180deg);
}

.fix-text {
    font-size: 95px;
    line-height: 1.1;
    letter-spacing: 0.9px;
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 120px;
}


@media (max-width: 1500px) {
    

}

/* Tablet */
@media (max-width: 1024px) {
    
}

/* Mobile */
@media (max-width: 768px) {
    #visual-design-system.visual__top {
        background-image: url(../img/elements/typography/brand-elements-typography-m.png);
    }

    /*contents ------*/
    .percent-view {
        border-radius: 10px;
        padding-bottom: 100%;
    }

    /*Bringing it to life*/
    .bring-it-to-life__slide {
        border-radius: 10px;
    }
    .bring-it-to-life__slide__controller {
        right: 10px;
        bottom: 10px;
    }
    .bring-it-to-life__slide__controller > button {
        width: 30px;
        height: 30px;
        background-size: 15px;
    }

    .index-text {
        left: 16px;
        top: 16px;
        font-size: 12px;
        height: 20px;
        padding: 0 10px;
    }
}

/* 4K */
@media (min-width: 2560px) {
    /*Bringing it to life*/
    .bring-it-to-life__slide li {
        height: 830px;
    }

}
