@font-face {
	font-family: 'LG_Smart_UI';
	font-weight: 700;
	font-display: swap;
	src: url('./src/fonts/LG_Smart_UI-Bold.ttf') format('woff');
}
@font-face {
	font-family: 'LG_Smart_UI';
	font-weight: 600;
	font-display: swap;
	src: url('./src/fonts/LG_Smart_UI-SemiBold.ttf') format('woff');
}
@font-face {
	font-family: 'LG_Smart_UI';
	font-weight: 400;
	font-display: swap;
	src: url('./src/fonts/LG_Smart_UI-Regular.ttf') format('woff');
}
@font-face {
	font-family: 'LG_Smart_UI';
	font-weight: 300;
	font-display: swap;
	src: url('./src/fonts/LG_Smart_UI-Light.ttf') format('woff');
}

* {
    font-family: 'LG_Smart_UI';
    font-weight: 400;
}
