/* Reset */
ul,ol {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

/* Common Header */
.c-header {
    display: flex;
    align-items: flex-end;
    gap: 0px 26px;
    position: fixed;
    z-index: 89;
    top: 40px;
    left: 40px;
    padding: 19px 31px 20px 30px;
    border-radius: 400px;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
}
.c-header__tit {
    width: 63px;
    height: 27px;
}
.c-header__tit__logo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Common Header - Gnb */
.c-header__gnb {
    flex-grow: 1;
}
.c-header__gnb__list {
    display: flex;
    gap: 0px 31px;
    justify-content: space-between;
}
.c-header__gnb__list__item {
    line-height: 0;
}
.c-header__gnb__list__item__anchor {
    position: relative;
    display: block;
    padding-bottom: 7px;
    line-height: 1;
    color: #E6E1D6;
    font-size: 15px;
}
.c-header__gnb__list__item__anchor:hover,
.c-header__gnb__list__item__anchor:focus {
    text-decoration: none;
}
.c-header__gnb__list__item__anchor--active {
    font-weight: 600;
    color: white;
}
.c-header__gnb__list__item__anchor:after {
    position: absolute;
    bottom: 0px;
    left: 0px;
    content: '';
    display: block;
    width: 0%;
    height: 1px;
    background-color: #FD312E;
    transition: 0.3s ease width;
}
.c-header__gnb__list__item__anchor:hover:after,
.c-header__gnb__list__item__anchor--active:after {
    width: 100%;
}
.c-header__gnb__list__item__deps2 {
    position: absolute;
    top: 89px;
    left: -10px;
    display: none;
    width: calc(100vw - 60px);
    grid-template-columns: 50% 50%;
    overflow: hidden;
    height: 670px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 40px;
}
.c-header__gnb__list__item__anchor--on + .c-header__gnb__list__item__deps2 {
    display: grid;
}
.c-header__gnb__list__item__deps2__menu {
    margin: 112px 80px;
}
.c-header__gnb__list__item__deps2__menu__item + .c-header__gnb__list__item__deps2__menu__item {
    margin-top: 22px;
}
.c-header__gnb__list__item__deps2__menu__item__anchor {
    display: block;
    line-height: 1;
    font-size: 44px;
    line-height: 52px;
    color: #7E7C77;
    transition: 0.3s ease color;
}
.c-header__gnb__list__item__deps2__menu__item__anchor:hover,
.c-header__gnb__list__item__deps2__menu__item__anchor:focus {
    text-decoration: none;
}
.c-header__gnb__list__item__deps2__menu__item__anchor--active {
    color: #F6F3EB;
}
.c-header__gnb__list__item__deps2__menu__item__anchor:after {
    content: '';
    display: inline-block;
    width: 25px;
    height: 22px;
    margin-left: 12px;
    background: url(src/mocks/layout/bullet-gnb-deps2.svg) no-repeat center center;
    background-size: cover;
    opacity: 0;
    transition: 0.3s ease opacity;
}
.c-header__gnb__list__item__deps2__menu__item__anchor--active:after {
    opacity: 1;
}
.c-header__gnb__list__item__deps2__visual {
    position: relative;
    width: 100%;
    height: 670px;
}
.c-header__gnb__list__item__deps2__visual__item {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 670px;
    z-index: 1;
    visibility: hidden;
    overflow: hidden;
    border-radius: 0px 40px 40px 0px;
    opacity: 0;
    transition: 0.3s ease opacity;
}
.c-header__gnb__list__item__deps2__visual__item--active {
    z-index: 2;
    visibility: visible;
    opacity: 1;
}
.c-header__gnb__list__item__deps2__visual__item__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.c-header__btn-gnb {
    display: none;
}
.gnb__deps2__bg {
    display: none;
    position: fixed;
    z-index: 88;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(27px);
}

/* Common Header - Location */
.c-header__location {
    position: absolute;
    top: 0px;
    left: calc(100% + 10px);
    padding: 19px 31px 20px 30px;
    border-radius: 400px;
    font-weight: 600;
    font-size: 15px;
    line-height: 28px;
    color: white;
    white-space: nowrap;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
}


/* Common Container */
.c-container {
    min-height: 100vh;
}

/* Common Footer */
.c-footer__wrap {
    display: grid;
    height: 600px;
    grid-template-rows: 535px 65px;
    background-color: black;
}


/* Mobile */
@media (max-width: 768px) {
    /* Common Header */
    .c-header {
        display: block;
        top: 20px;
        left: 20px;
        right: 20px;
        padding: 0px;
        box-sizing: border-box;
        border-radius: 0px;
        background-color: transparent;
        backdrop-filter: blur(0px);
        -webkit-backdrop-filter: blur(0px);
    }
    .c-header__tit {
        width: 160px;
        height: auto;
        padding: 23px 32px;
        margin: 0px auto;
        box-sizing: border-box;
        border-radius: 400px;
        background: rgba(0, 0, 0, 0.7);
        backdrop-filter: blur(6px);
        -webkit-backdrop-filter: blur(6px);
        line-height: 0;
    }
    .c-header__tit__logo {
        width: auto;
        height: 20px;
    }

    /* Common Header - Gnb */
    .c-header__gnb {
        display: none;
        margin-top: 24px;
        height: calc(100vh - 142px);
        padding: 24px 20px;
        box-sizing: border-box;
        border-radius: 20px;
        background-color: rgba(0, 0, 0, 0.7);
        backdrop-filter: blur(27px);
        -webkit-backdrop-filter: blur(27px);
        transform: translateY(100vh);
        transition: 0.3s ease transform;
    }
    .c-header__gnb__list {
        display: block;
    }
    .c-header__gnb__list__item + .c-header__gnb__list__item {
        margin-top: 16px;
    }
    .c-header__gnb__list__item__anchor {
        padding: 0px 40px 7px 0px;
        font-size: 20px;
        line-height: 24px;
        padding-right: 40px;
    }
    .c-header__gnb__list__item__anchor:after {
        display: block;
        left: auto;
        bottom: auto;
        right: 0px;
        top: 5px;
        width: 7px;
        height: 14px;
        background: transparent url(src/mocks/layout/bullet_gnb_m.svg) no-repeat right center;
    }
    .c-header__living-sustainably {
        display: none;
    }
    .c-header__btn-gnb {
        display: block;
        position: absolute;
        top: 24px;
        right: calc(50% - 48px);
        width: 18px;
        height: 18px;
        padding: 0px;
        border: 0px;
        background-color: transparent;
    }
    .c-header__btn-gnb__bar {
        position: absolute;
        left: 0px;
        width: 100%;
        height: 1px;
        background-color: white;
        transform: rotate(0);
        transition: 0.3s ease all;
    }
    .c-header__btn-gnb__bar:first-child {
        top: 6px;
    }
    .c-header__btn-gnb__bar:last-child {
        top: 11px;
    }
    .c-header__btn-gnb__bar--close:first-child {
        transform: rotate(-45deg);
        top: calc(50% - 1px);
    }
    .c-header__btn-gnb__bar--close:last-child {
        transform: rotate(45deg);
        top: calc(50% - 1px);
    }

    /* Common Header - Location */
    .c-header__location {
        display: none;
    }
}